/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin-top: 50px;
    background-color: #c6efff;
  }

  header {
    text-align: center;
    color: rgb(0, 2, 105);
  }

  main {
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #output {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
  }

  code {
    color: crimson;
    font-size: 17px;
  }
  